<div class="main">
    <div class="container">
        <section id="content">
            <form action="">
                <h1>Войти</h1>
                <div>
                    <input type="text" placeholder="имя" required="" id="name" />
                </div>
                <div>
                    <input type="password" placeholder="пароль" required="" id="password" />
                </div>
                <div>
                    <input type="submit" value="Войти" />
                    <a href="#">Забыли пароль?</a>
                    <a routerLink='create-account'>Создать аккаунт</a>
                </div>
            </form><!-- form -->
            
        </section><!-- content -->
    </div><!-- container -->
    </div>