<div class="header" role="banner">
  <img width="40" />
  <span style="color:#28C38A">Project Logo</span>
  <ul class="menu-list">
    <li><a routerLink=''><span>Главная</span></a></li>
    <li><a><span>Рекомендации</span></a></li>
    <li><a><span>Словарь</span></a></li>
    <li><a routerLink='learn'><span>Учиться</span></a></li>
  </ul>
  <!-- <img class="header__profile" width="40"
    src="https://icon-library.net/images/my-profile-icon-png/my-profile-icon-png-28.jpg" /> -->

    <a routerLink='login' class="input">Войти</a>
    <a routerLink='create-account' class="create_account">Создать аккаунт</a>
</div>

<router-outlet></router-outlet>
